/* General styles */
:root {
  text-align: center;
  font-family: sans-serif, monospace, serif;
  /* Colors */
  --main-bg-color: rgb(238, 238, 238);
  --secondary-bg-color: rgb(214, 214, 214);
  --btn-bg-color: #f1c40f;
  background-color: var(--main-bg-color);
}
body {
  margin: 0px;
}
header {
  min-width: 400px;
}
main,
footer {
  max-width: 900px;
  min-width: 400px;
  margin: 0px auto;
}
.btn {
  background-color: var(--btn-bg-color);
  border: none;
}
.btn:hover {
  background-color: orange;
  transition: background-color 1s;
}

/* Header styles */
header {
  margin-top: 10px;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: var(--main-bg-color);
  width: 100%;
}
header > nav {
  display: flex;
  flex-direction: column;
  margin: 5px;
}
header > nav > a {
  text-decoration: none;
  color: #000;
  margin: 5px auto;
  white-space: nowrap;
}

/* Main styles */
main {
  margin-top: 175px;
}
main > * {
  margin: 60px 0px;
}
/* form */
main > section > form {
  display: grid;
  justify-items: center;
  gap: 15px;
}
input#email {
  width: 250px;
  padding: 5px;
}
input#submit {
  padding: 5px 15px;
  font-size: 15px;
  font-weight: 900;
}
/* Features */
#features > p {
  margin: auto 10px;
}
#features > img {
  display: none;
}
/* pricing */
#pricing {
  display: grid;
  row-gap: 10px;
}
#pricing > div {
  border: 1px solid #000;
  justify-self: center;
  width: 300px;
  display: grid;
}
#pricing > div > p#prod-name {
  font-size: 17px;
  font-weight: bold;
  margin-top: 0px;
  padding: 15px;
  background-color: var(--secondary-bg-color);
}
#pricing > div > p#price {
  font-size: 30px;
  margin: 0px;
}
#pricing > div > ul {
  padding: 0px;
}
#pricing > div > ul > li {
  list-style: none;
  margin: 10px auto;
}
#pricing > div > button {
  justify-self: center;
  padding: 10px 18px;
  font-size: 17px;
  margin-bottom: 15px;
  border-radius: 3px;
}

/* Footer styles */
footer {
  background-color: var(--secondary-bg-color);
  text-align: end;
  padding: 25px;
}
footer > section > a {
  color: #000;
  text-decoration: none;
  margin: 10px;
}
body > footer > p {
  margin: 5px 0px 0px 0px;
  color: #444;
}

/* media-queries */
@media (max-width: 560px) {
  section#features > div > p {
    padding: 0px 10px;
  }
  /* video */
  iframe {
    width: 100%;
  }
  footer {
    margin: 0px 0px;
  }
}
@media (min-width: 550px) {
  section#features {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto);
    row-gap: 20px;
  }
  #features > div > h2 {
    text-align: start;
  }
  #features > div > p {
    text-align: start;
  }
  #features > div > p {
    padding: 0px;
  }
  #features > img {
    display: initial;
    justify-self: center;
    align-self: center;
    width: 100px;
    height: 50px;
    filter: invert(68%) sepia(36%) saturate(2757%) hue-rotate(358deg)
      brightness(100%) contrast(104%);
  }
}
@media (min-width: 600px) {
  header {
    display: flex;
    justify-content: space-between;
  }
  header > nav {
    padding: 0px 50px;
  }
  main {
    margin-top: 100px;
  }
}
@media (min-width: 650px) {
  header > figure > img {
    width: 350px;
  }
  header > nav {
    padding: initial;
    flex-direction: row;
    align-items: center;
  }
  header > nav > a {
    margin: 0 10px;
  }
}
@media (min-width: 800px) {
  /* Pricing */
  #pricing {
    display: flex;
    justify-content: center;
  }
  #pricing > div {
    margin: 0px 10px;
  }
}
